.sc-message--text {
    padding: 17px 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.4;
    white-space: pre-wrap;
    -webkit-font-smoothing: subpixel-antialiased
}

:host {
    border-radius: 6px;
}

:host([data-sent]) {
    color: white;
    background-color: #4e8cff;
    max-width: calc(100% - 120px);
    word-wrap: break-word;
}

:host([data-received])  {
    color: #263238;
    background-color: #f4f7f9;
    margin-right: 40px;
}
