.sc-user-input--send-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    align-self: center;
    outline: none;
}

.sc-user-input--send-icon path {
    fill: rgba(86, 88, 103, 0.3);
}

.sc-user-input--send-icon:hover path {
    fill: rgba(86, 88, 103, 1);
}

.sc-user-input--send-icon-wrapper {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}
