<form class="sc-user-input">
        <div
          role="button"
          tabIndex="0"
          contentEditable="true"
          placeholder="Write a reply..."
          class="sc-user-input--text"
        >
        </div>
        <div class="sc-user-input--buttons">
          <div class="sc-user-input--button"></div>
          <div class="sc-user-input--button">
            <emoji-icon/>
          </div>
          <div class="sc-user-input--button">
            <send-icon/>
          </div>
        </div>
      </form>
